@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@model Demo_Areas.Areas.LOC_State.Models.LOC_StateModel


<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="LOC_State" asp-action="Save">
            @Html.HiddenFor(x=>x.StateID)
            <div class="col-xl-4">
                <label>StateName</label>
                <input type="text" asp-for="StateName" class="form-control"/>
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="col-xl-4">
                <label>StateCode</label>
                <input type="text" asp-for="StateCode" class="form-control" />
                <span asp-validation-for="StateCode" class="text-danger"></span>
            </div>
            <div class="col-xl-4">
                <label>Country Name</label>
                <div class="col-xl-4">
                    <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                        <option value="">Select Country</option>
                    </select>
                    <span asp-validation-for="CountryID" class="text-danger"></span>
                </div>
            </div>
            </br>
            <button type="submit" class="btn btn-primary">ADD</button>
        </form>
    </div>
</div>